@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .new-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .new-scrollbar::-webkit-scrollbar-thumb {
      background: rgb(131, 131, 131);
      background: linear-gradient(
        0deg,
        rgba(131, 131, 131, 0.45) 0%,
        rgba(131, 131, 131, 0.6) 100%
      );
      border-radius: 10px;
      max-height: 40px;
    }

    .new-scrollbar::-webkit-scrollbar {
      width: 7px;
    }
  }
}

html,
body {
  height: 100%;
}

body {
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --text-main: #333;
  --text-secondary: #4b525d;
  --bg-active: #fbfbfc;
}

html.dark,
html[data-theme='dark'] {
  --text-main: #f7f7f7;
  --text-secondary: #6f6e84;
  --bg-active: #242b40;
}

.table th:first-child {
  position: relative;
  z-index: 2;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.25s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(calc(80%));
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-calc(15%));
}
